.font1{
  font-family:Impact;
  color:purple;
  font-size: 35px;
  text-align:center;
}

h1{
  font-family:Courier;
  color: #B997EA;
  font-size:100px;
  text-align: center;
}

h2{
  font-family:Helvetica;
  color:inherit: black;
  font-size: 21px;
}

#main-image{
  margin-left:31em;
}

.circle {
    border-radius:80%;
    height: 220px;
    width:230px;
}

#myPhoto{
  width= 500px;
  height= 400px;
}

.image{
  width= 600px
  height= 750px
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: violet; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #B3DDDF; /* Add a dark-grey background on hover */
}

.unbreakable
{
    font-family: 'Anton', sans-serif;
    line-height: 1;

    letter-spacing: -.07em;

    color: #fff;

    text-align: center;
}

.ks
{
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: #fc0;

    text-align: center;
}

.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span
{
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 40px;

    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    filter: alpha(opacity=0);
}

.able
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 40px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 60px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

Resources
